@import url(https://fonts.googleapis.com/css?family=Poppins:regular,400,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

@import url(https://fonts.googleapis.com/css?family=Volkhov:700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 251, 241);
  height: 131.39px;
  z-index: 100;
}

.header__container {
  height: 131.39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  padding-left: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.header__login a {
  color: #212832;
}

.header__login a:hover {
  color: rgb(241, 165, 1);
}

.header__login-lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20.5px;
  cursor: pointer;
}

.no-webp .header__login-lang::after{
  background-image: url("../img/header/lang-arrow_03.png"); }

.header__login-lang::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  background-repeat: no-repeat;
  cursor: pointer;
  right: 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.menu__link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.menu__link a {
  color: #212832;
}

.menu__link a:hover {
  color: rgb(241, 165, 1);
}

.header {
  position: relative;
}

.header__login-lang {
  width: 45px;
}

.header__login-lang-box {
  position: absolute;
  background-color: white;
  top: 50px;
  border: 1px solid rgb(241, 165, 1);
  border-radius: 15px;
  left: -130px;
  overflow: hidden;
}

.header__login-lang-item {
  padding: 10px 75px;
}

.header__login-lang-item:hover {
  background-color: rgb(241, 229, 205);
}

.header__login-lang-item:active {
  background-color: rgb(241, 165, 1);
}

.header__login-lang-item a:hover {
  color: #212832;
}

.lang-box-hidden {
  display: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "DM Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: black;
  overflow-x: hidden;
}

body._lock {
  overflow: hidden;
}

body ::-webkit-scrollbar {
  width: 0px;
}

.invisible {
  display: none;
}

._locky {
  display: none;
}

/*
make to image block postiotin relative and padding to bottomnm
*/

._ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
}

.subtitle {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}

.travel {
  padding-top: 132px;
}

.travel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel__contant {
  padding-top: 94px;
}

.travel__contant-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
  padding-bottom: 24px;
}

.travel__contant-info {
  max-width: 545px;
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
  padding-bottom: 30px;
}

.travel__contant-subtitle {
  max-width: 477px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
  padding-bottom: 34px;
}

.travel__contant-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
}

.travel__contant-findbtn a {
  font-family: "Google Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 19px 26px 18px 27px;
  background: #f1a501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
}

.travel__contant-findbtn a:hover {
  background: rgb(170, 118, 6);
}

.travel__contant-playbtn {
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
}

.travel__contant-playbtn-img {
  cursor: pointer;
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #df6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}

.travel__contant-playbtn-img:hover {
  background-color: rgb(206, 94, 72);
}

.no-webp .travel__contant-playbtn-img::before{
  background: url("../img/header/small.png") no-repeat; }

.travel__contant-playbtn-img::before {
  content: "";
  position: absolute;
  top: 34%;
  left: 39%;
  display: block;
  background-size: cover;
  width: 15px;
  height: 15px;
}

.travel__image {
  max-width: 620px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.login-signup a {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.login-signup :hover {
  background-color: black;
  color: white;
}

.services {
  margin-top: 93px;
  margin-bottom: 123px;
}

.services__title {
  padding-bottom: 108px;
}

.services__subtitle {
  padding-bottom: 10px;
}

.services__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.services__item {
  height: 100%;
  background-color: #ffffff;
}

.services__card {
  max-width: 267px;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 45px;
  height: 100%;
  background-color: #ffffff;
}

.services__card:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.services__card-img {
  max-width: 92px;
  max-height: 78px;
  margin: 0px auto;
  margin-bottom: 34px;
  padding-bottom: 34px;
}

.services__card-img img {
  position: relative;
}

.services__card-text {
  margin: 0px auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1e1d4c;
  padding-bottom: 15px;
}

.services__card-info {
  margin: 0px auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #5e6282;
  max-width: 181px;
}

.card-img-first::before,
.card-img-second::before,
.card-img-third::before,
.card-img-forth::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 49px;
  background: #fff1da;
  border-radius: 18px 5px 10px;
}

.card-img-first::before {
  margin-left: 42px;
  margin-top: 29px;
}

.card-img-second::before {
  margin-left: 25px;
}

.card-img-third::before {
  margin-left: 17px;
  margin-top: -6px;
}

.card-img-forth::before {
  margin-left: 27px;
  margin-top: 17px;
}

.destinations {
  margin-bottom: 186px;
}

.destinations__body {
  position: relative;
}

.destinations__body::after {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  background-image: url("../img/destinations/decore.svg");
  height: 252px;
  width: 96px;
  top: 0;
  right: 0;
  margin-right: -29px;
  margin-top: 158px;
}

.destinations__subtitle {
  padding-bottom: 8px;
}

.destinations__title {
  padding-bottom: 60px;
}

.destinations__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.destinations__item:hover .destinations__info-where {
  color: #f1a501;
}

.destinations__card {
  height: 100%;
  border-radius: 24px;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.destinations__image {
  border-radius: 24px;
  position: relative;
  min-height: 100%;
}

.destinations__image img {
  border-radius: 24px;
  width: 100%;
  min-height: 100%;
}

.destinations__info {
  overflow-y: hidden;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-bottom: 42px;
  padding-top: 27px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.destinations__info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 19px;
}

.destinations__info-where {
  padding-left: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.destinations__info-price {
  padding-right: 26px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.destinations__info-amount {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
  padding-left: 20px;
}

.bookings__item {
  margin-right: 62px;
  position: relative;
}

.bookings__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 354px;
  height: 367px;
  background: #59b1e6;
  opacity: 0.8;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  top: -59px;
  right: -44px;
  z-index: -10;
}

.bookings__card {
  padding: 20px 24px 0px 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}

.bookings__card-image {
  padding-bottom: 26px;
}

.bookings__card-image img {
  width: 100%;
}

.bookings__card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  padding-bottom: 13px;
}

.bookings__card-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
  padding-bottom: 21px;
}

.bookings__card-info span::after {
  content: "|";
  margin: 0px 10px 0px 0px;
}

.bookings__card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15.5px;
     -moz-column-gap: 15.5px;
          column-gap: 15.5px;
  padding-bottom: 30px;
}

.bookings__card-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 31px;
}

.bookings__card-people-number {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829a;
  padding-left: 31px;
}

.no-webp .bookings__card-people-number::before{
  background-image: url("../img/bookings/building_01.png"); }

.bookings__card-people-number::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
}

.bookings__card-people-like img {
  cursor: pointer;
}

.bookings__card-people-like {
  position: relative;
}

.bookings__card-people-like-box {
  top: -130px;
  right: -140px;
  position: absolute;
  min-width: 156px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}

.bookings__card-people-like-contant {
  position: relative;
  padding-left: 81px;
  padding-top: 16px;
  padding-right: 25px;
}

.no-webp .bookings__card-people-like-contant::before{
  background-image: url("../img/bookings/bookings-icon_04.png"); }

.bookings__card-people-like-contant::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
}

.bookings__card-people-like-status {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829a;
  padding-bottom: 6px;
}

.bookings__card-people-like-where {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
  padding-bottom: 14px;
}

.bookings__card-people-like-complete {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
  color: #080809;
  padding-bottom: 10px;
}

.bookings__card-people-like-bar {
  width: 156px;
  height: 5px;
  border-radius: 30px;
  background: #8a79df;
  margin-bottom: 22px;
}

.people-like-hidden {
  display: none;
}

.bookings {
  margin-bottom: 214px;
}

.bookings__title {
  padding-bottom: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}

.bookings__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookings__contant {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.bookings__name {
  padding-bottom: 31px;
  max-width: 511px;
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
}

.bookings__minicards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}

.bookings__minicard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
}

.bookings__minicard-overview {
  max-width: 395px;
}

.bookings__minicard-title {
  padding-bottom: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.bookings__minicard-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.bookings__pic-image img {
  max-width: 100%;
  height: auto;
}

.quotes {
  margin-bottom: 96px;
}

.brands {
  margin-bottom: 111px;
}

.brands__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__item {
  margin: 0px auto;
}

.brands__item-img {
  padding: 42px 39px 34px 40px;
}

.brands__item-img:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.subscription {
  margin-bottom: 166px;
}

.subscription__container {
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  position: relative;
}

.subscription__title {
  opacity: 1;
  padding-top: 79px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5e6282;
  padding-bottom: 74px;
}

.subscription__form {
  position: relative;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  max-width: 800px;
  padding-bottom: 78px;
}

.subscription__container::before {
  content: "";
  margin-top: 122px;
  left: 0;
  z-index: 1;
  position: absolute;
  background-image: url("../img/input-decor_01.svg");
  background-repeat: no-repeat;
  width: 389.45px;
  height: 397.19px;
  opacity: 0.2;
}

.subscription__container::after {
  content: "";
  z-index: 10;
  position: absolute;
  background-image: url("../img/input-decor_02.svg");
  background-repeat: no-repeat;
  width: 284.8px;
  height: 290.88px;
  opacity: 0.2;
  top: 0;
  right: 0;
}

.no-webp .subscription__input{
  background: url("../img/input_01.png") no-repeat; }

.subscription__input {
  padding-right: 280px;
  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 66px;
  background-position: center left;
  background-position-x: 33px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425d;
}

.subscription input:focus,
.subscription textarea:focus,
.subscription select:focus {
  outline-color: #f1a501;
  outline-width: 5px;
}

.subscription__input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425d;
  padding-right: 280px;
}

.subscription__input::-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425d;
  padding-right: 280px;
}

.subscription__input:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425d;
  padding-right: 280px;
}

.subscription__input::-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425d;
  padding-right: 280px;
}

.subscription__input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #39425d;
  padding-right: 280px;
}

.subscription__btn {
  font-family: "Google Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: -o-linear-gradient(top, #ff946d 0%, #ff7d68 100%);
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  width: 180px;
  height: 68px;
}

.footer {
  margin-bottom: 79px;
}

.footer__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 83px;
  padding-bottom: 84px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__quote-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  color: #181e4b;
  padding-bottom: 19px;
}

.footer__quote-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: #5e6282;
  max-width: 207px;
}

.footer__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 81.5px;
     -moz-column-gap: 81.5px;
          column-gap: 81.5px;
  padding-top: 21px;
}

.footer__links-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
  padding-bottom: 34px;
}

.footer__links-link a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.footer__links-link a:hover {
  color: #f1a501;
}

.footer__links-link:not(:last-child) {
  padding-bottom: 12px;
}

.footer__discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
}

.footer__discover-social {
  padding-bottom: 30px;
}

.footer__discover-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5e6282;
  padding-bottom: 16px;
}

.footer__mail {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #5e6282;
  text-align: center;
}

.quotes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotes__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #5e6282;
  padding-top: 9px;
}

.quotes__swiper-quotes {
  padding-top: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}

.quotes__swiper-titles {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-bottom: 94px;
  margin: 0;
}

.quotes__swiper-titles .swiper-pagination {
  max-width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.quotes__swiper-titles .swiper-pagination :not(:last-child) {
  margin-right: 25px;
}

.quotes__swiper-titles .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: black;
}

.quotes__swiper-titles .swiper-pagination-bullet-active {
  background: #39425d;
}

.quotes__swiper-slider {
  padding-right: 0;
}

.quotes__text {
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
  max-width: 409px;
}

.quotes__slidebox {
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  max-width: 610px;
}

.no-webp .quotes__slidebox-card::before{
  background-image: url("../img/quotes-person_01.png"); }

.quotes__slidebox-card::before {
  content: "";
  top: -39px;
  left: -21px;
  z-index: 100;
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 40px;
}

.quotes__slidebox-card::after {
  content: "";
  position: absolute;
  bottom: -72px;
  width: 502px;
  height: 72px;
  border: 2px solid #f7f7f7;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 10px;
  max-width: 610px;
}

.quotes__slidebox-card {
  margin-top: 39px;
  margin-left: 21px;
  position: relative;
}

.quotes__slidebox-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5e6282;
  padding: 28px 68px 34px 34px;
}

.quotes__slidebox-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
  padding-bottom: 5px;
}

.quotes__slidebox-location {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5e6282;
  padding-bottom: 34px;
}

.first__quotes {
  padding-right: 166px;
}

.no-webp .card-slidebox-second::before{
  background-image: url("../img/quotes-person_02.png"); }

.no-webp .card-slidebox-third::before{
  background-image: url("../img/quotes-person_06png.jpg"); }

.card-slidebox-third::before {
  background-repeat: no-repeat;
}

.quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-button-prev {
  position: static;
  margin-left: 0;
}

.swiper-button-next {
  position: static;
  margin: 0;
}

@media (max-width: 1268px) {
  .quotes__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }

  .quotes__slidebox {
    margin-left: 15%;
  }

  .quotes__swiper-titles .swiper-pagination {
    left: 35%;
  }
}

@media (max-width: 1200px) {
  .brands__container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1030px) {
  .travel__contant-info {
    font-size: 54px;
    line-height: 56px;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0px auto;
  }

  .travel__image {
    display: none;
  }

  .services__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .destinations__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .destinations__body::after {
    margin-right: 29px;
    margin-top: 158px;
  }
}

@media (max-width: 1000px) {
  [class*=__container] {
    max-width: 900px;
    margin: 0px auto;
    padding: 0 15px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media (max-width: 996px) {
  .bookings__container {
    max-width: 750px;
    padding: 0 30px;
  }

  .bookings__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 50px;
  }

  .bookings__pic {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0px auto;
  }

  .bookings__item {
    margin-right: 0px;
  }
}

@media (max-width: 991.98) {
  [class*=__container] {
    max-width: 850px;
    margin: 0px auto;
    padding: 0 15px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media (max-width: 921px) {
  .header {
    padding-bottom: 56px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__login {
    padding-left: 100px;
  }

  .header__menu {
    position: fixed;
    z-index: 10;
    right: 0;
    padding-right: 20px;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 165, 1);
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__list {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__icon {
    z-index: 100;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}

@media (max-width: 820px) {
  .quotes__slidebox {
    width: 400px;
    margin-left: 5%;
  }

  .quotes__swiper-titles .swiper-pagination {
    left: 5%;
  }
}

@media (max-width: 786px) {
  .footer__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 20px;
    max-width: 400px;
  }

  .footer__links {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__links-link a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #5e6282;
  }

  .footer__discover {
    margin: 0px auto;
  }
}

@media (max-width: 767.98) {
  [class*=__container] {
    max-width: 680px;
    margin: 0px auto;
    padding: 0 15px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media (max-width: 762px) {
  .brands__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .subscription__title {
    font-size: 24px;
    line-height: 36px;
  }

  .subscription__input {
    padding-right: 100px;
  }

  .subscription__form {
    max-width: 600px;
  }

  .subscription__container::before {
    content: "";
    width: 289.45px;
    height: 297.19px;
    bottom: 0;
  }

  .subscription__container::after {
    content: "";
    width: 184.8px;
    height: 190.88px;
  }
}

@media (max-width: 680px) {
  .destinations__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .destinations__body::after {
    margin-right: 118xxx px;
    margin-top: 158px;
  }

  .bookings {
    padding-bottom: 100px;
  }
}

@media (max-width: 650px) {
  .bookings__card-people-like-box {
    right: 0;
    top: 25px;
  }
}

@media (max-width: 570px) {
  .subscription__input {
    padding-top: 12.5px;
    padding-bottom: 13px;
  }

  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
    max-width: 400px;
  }

  .subscription__btn {
    margin: 0px auto;
  }

  .subscription__container::before {
    content: "";
    width: 189.45px;
    height: 197.19px;
  }

  .subscription__container::after {
    content: "";
    width: 144.8px;
    height: 190.88px;
  }
}

@media (max-width: 548px) {
  .header__login {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .services__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .travel__contant-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    row-gap: 44px;
  }

  .travel__contant {
    padding-top: 72px;
  }

  .brands__container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 470px) {
  .header__logo {
    display: none;
  }

  .header__login {
    padding-left: 0;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }

  .header__login-lang {
    margin-left: -20px;
  }
}

@media (max-width: 420px) {
  .quotes__slidebox {
    width: 250px;
    margin-left: 3%;
  }

  .quotes__swiper-titles .swiper-pagination {
    left: 3%;
  }

  .quotes__text {
    font-size: 30px;
    line-height: 40px;
    max-width: 250px;
  }
}

.webp .header__login-lang::after{ background-image: url(../img/header/lang-arrow_03.webp); }

.webp .travel__contant-playbtn-img::before{ background: url(../img/header/small.webp) no-repeat; }

.webp .bookings__card-people-number::before{ background-image: url(../img/bookings/building_01.webp); }

.webp .bookings__card-people-like-contant::before{ background-image: url(../img/bookings/bookings-icon_04.webp); }

.webp .subscription__input{ background: url(../img/input_01.webp) no-repeat; }

.webp .quotes__slidebox-card::before{ background-image: url(../img/quotes-person_01.webp); }

.webp .card-slidebox-second::before{ background-image: url(../img/quotes-person_02.webp); }

.webp .card-slidebox-third::before{ background-image: url(../img/quotes-person_06png.webp); }